<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" id="logo">
      <figure class="image">
        <img
          src="../../../assets/logo.png"
          alt="Logo Placeholder"
          style="max-width: 90px;"
        />
      </figure>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      #burger
      (click)="onBurgerClick()"
      [ngClass]="{ 'is-active': toggleActive == true }"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasicExample"
    class="navbar-menu"
    [ngClass]="{ 'is-active': toggleActive == true }"
  >
    <div class="navbar-start">
      <a class="navbar-item has-text-centered">
        Browse Events (User)
      </a>

      <a class="navbar-item has-text-centered">
        Change Events (Admin)
      </a>

      <a class="navbar-item has-text-centered">
        File Complaint
      </a>

      <a class="navbar-item has-text-centered">
        Order History (?)
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons" style="justify-content: center;">
          <a class="button" routerLink="signup">
            Sign Up
          </a>
          <a class="button" routerLink="login">
            Log In
          </a>
          <a class="button">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
