<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" id="logo" routerLink="home">
      <figure class="image">
        <img
          src="../../../assets/logo.png"
          alt="Logo Placeholder"
          style="max-width: 90px;"
        />
      </figure>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      #burger
      (click)="onBurgerClick()"
      [ngClass]="{ 'is-active': toggleActive == true }"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarBasicExample"
    class="navbar-menu"
    [ngClass]="{ 'is-active': toggleActive == true }"
  >
    <div *ngIf="authenticated" class="navbar-start">
      <a
        class="navbar-item has-text-centered"
        routerLinkActive="active"
        routerLink="events"
      >
        Browse Events
      </a>
      <a
        class="navbar-item has-text-centered"
        routerLinkActive="active"
        routerLink="orders"
      >
        Order History
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons" style="justify-content: center;">
          <a *ngIf="!authenticated" class="button" routerLink="signup">
            Sign Up
          </a>
          <a *ngIf="!authenticated" class="button" routerLink="login">
            Log In
          </a>
          <p
            *ngIf="authenticated"
            style="color: white; font-size: large; margin-right: 7px;"
          >
            You are now logged in!
          </p>
          <a *ngIf="authenticated" class="button" (click)="onLogout()">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
