<hr />
<div class="columns">
  <div
    class="column is-6 is-offset-3 card"
    id="formBorder"
    style="
      text-align: center;
      font-family: 'Permanent Marker', cursive;
      color: black;
      padding-bottom: 4px;
    "
  >
    <h1 class="title">
      Sign up to Tick-It now!
    </h1>
  </div>
</div>
<hr />
<div class="columns">
  <div class="column is-6 is-offset-3 card" id="formBorder">
    <form [formGroup]="signUpForm">
      <div class="field">
        <div class="control">
          <label class="label">E-mail</label>
          <input
            type="email"
            class="input"
            placeholder="Enter your e-mail"
            formControlName="email"
          />
          <p
            *ngIf="
              !signUpForm.controls.email.valid &&
              signUpForm.controls.email.touched
            "
            class="help is-danger"
          >
            Wrong E-mail format
          </p>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label">Password</label>
          <input
            class="input"
            type="password"
            placeholder="Enter your password"
            formControlName="password"
          />
          <p
            class="help is-danger"
            *ngIf="
              !signUpForm.controls.password.valid &&
              signUpForm.controls.password.touched
            "
          >
            Password must have a minimum of 8 characters
          </p>
        </div>
      </div>
      <div class="control">
        <button [disabled]="!signUpForm.valid" type="submit" class="button">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<hr />
