<figure class="image is-128x128">
  <img src="{{ selectedEvent.imageUrl }}" alt="" />
</figure>
<h3 class="title">{{ selectedEvent.name }}</h3>
<p>{{ selectedEvent.date }}</p>
<a class="button" (click)="onChangeModal()">See More</a>

<!--Modal Part-->
<div class="modal" [ngClass]="{ 'is-active': selected == true }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ selectedEvent.name }}</p>
      <button
        class="delete"
        (click)="onChangeModal()"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body" style="background-color: black;">
      {{ selectedEvent.date }}
      {{ selectedEvent.description }}
    </section>
    <footer class="modal-card-foot">
      <a class="button" (click)="onBuyTickets()">Buy Tickets</a>
      <a class="button" (click)="onChangeModal()">Cancel</a>
    </footer>
  </div>
</div>
