<figure class="image is-128x128">
  <img src="../../../../assets/logo.png" alt="" />
</figure>
<h3
  class="title"
  style="
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: x-large;
  "
>
  {{ selectedEvent.name }}
</h3>
<p>{{ selectedEvent.date }}</p>
<a class="button" (click)="onChangeModal()">See More</a>

<!--Modal Part-->
<div class="modal" [ngClass]="{ 'is-active': selected == true }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ selectedEvent.name }}</p>
      <button
        class="delete"
        (click)="onChangeModal()"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body wrap">
      <h1 class="subtitle modalstyle">{{ selectedEvent.date }}</h1>
      <p style="color: black;">{{ selectedEvent.description }}</p>
    </section>
    <footer class="modal-card-foot">
      <a class="button" routerLink="{{ selectedEvent._id }}">Buy Tickets</a>
      <a class="button" (click)="onChangeModal()">Cancel</a>
    </footer>
  </div>
</div>
