<hr />
<div *ngIf="isLoading" class="columns is-centered">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading && orders.length === 0" class="columns is-centered">
  <div class="column is-8 box" id="shadow">
    <p>You haven't made any orders so far!</p>
  </div>
</div>
<div *ngIf="!isLoading" class="columns is-centered is-multiline">
  <div *ngFor="let order of orders" class="column is-8 box" id="shadow">
    <hr />
    <h1 class="is-title" style="font-family: 'Permanent Marker', cursive;">
      {{ order.eventName }}
    </h1>
    <hr />
    <p>The ticket(s) are for the following section(s): {{ order.ticket }}</p>
    <p>Date: {{ order.date }}</p>
    <hr />
  </div>
</div>
<hr />
