<hr />
<div class="columns">
  <div class="column is-6 is-offset-1 box" id="shadow">
    <h1 class="title" style="font-size: xx-large; color: white;">About Us</h1>
    <hr />
    <p style="font-size: large;">
      Want to buy tickets online, from the comfort of your couch? Of course,
      that's the norm, and has been for the last few years. But, do you want to
      do it effectively and efficiently, while maintaining the lowest possible
      prices? Well, then you've come to the right spot! Tick-It is your number
      one place for buying the cheapest tickets for all basketball and football
      events around the globe. Supported by PayPal!
    </p>
    <hr />
  </div>
  <br />
  <div class="column is-3 is-offset-1 box" id="shadow">
    <hr />
    <figure class="image">
      <img
        src="../../assets/logo.png"
        alt="Logo Placeholder"
        style="max-width: 90px;"
      />
    </figure>
    <hr />
  </div>
</div>
<hr />
<div class="columns">
  <div class="column is-3 is-offset-1 box" id="shadow">
    <hr />
    <figure class="image">
      <img
        src="../../assets/logo.png"
        alt="Logo Placeholder"
        style="max-width: 90px;"
      />
    </figure>
    <hr />
  </div>
  <br />
  <div class="column is-6 is-offset-1 box" id="shadow">
    <h1 class="title" style="font-size: xx-large; color: white;">History</h1>
    <hr />
    <p style="font-size: large;">
      Tick-It started as a local business in a small town in Serbia. Of course,
      I am joking and trying to think of anything sensible to write here,
      beacause, obviously, nobody is ever going to read this. But, I am not sad
      because of that, it just makes it easier for me. And just a few more words
      so it looks better, because more text equals a better looking homepage.
    </p>
    <hr />
  </div>
</div>
<br />
