<br /><br />
<div class="columns">
  <div class="column is-6 is-offset-1 card">
    <h1 class="title" style="font-size: xx-large;">About Us</h1>
    <p style="font-size: large;">
      Your number one place for getting tickets online! No more waiting in long
      lines, cause Tick-It is here! Tick-It is fast - Lorem ipsum, dolor sit
      amet consectetur adipisicing elit. Vel assumenda aperiam incidunt omnis
      possimus delectus nostrum, aspernatur dolores consectetur, laudantium
      quos. Non possimus perferendis libero, vitae minus quae distinctio
      necessitatibus! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Temporibus unde eveniet aspernatur est, ipsa nobis, magni cumque labore
      vero, deserunt velit veritatis! Possimus hic praesentium aperiam! Autem
      quaerat neque at.
    </p>
  </div>
  <br />
  <div class="column is-3 is-offset-1 card">
    <figure class="image">
      <img
        src="../../assets/logo.png"
        alt="Logo Placeholder"
        style="max-width: 90px;"
      />
    </figure>
  </div>
</div>
<br />
<div class="columns">
  <div class="column is-3 is-offset-1 card">
    <figure class="image">
      <img
        src="../../assets/logo.png"
        alt="Logo Placeholder"
        style="max-width: 90px;"
      />
    </figure>
  </div>
  <br />
  <div class="column is-6 is-offset-1 card">
    <h1 class="title" style="font-size: xx-large;">About Us</h1>
    <p style="font-size: large;">
      Your number one place for getting tickets online! No more waiting in long
      lines, cause Tick-It is here! Tick-It is fast - Lorem ipsum, dolor sit
      amet consectetur adipisicing elit. Vel assumenda aperiam incidunt omnis
      possimus delectus nostrum, aspernatur dolores consectetur, laudantium
      quos. Non possimus perferendis libero, vitae minus quae distinctio
      necessitatibus! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Temporibus unde eveniet aspernatur est, ipsa nobis, magni cumque labore
      vero, deserunt velit veritatis! Possimus hic praesentium aperiam! Autem
      quaerat neque at.
    </p>
  </div>
</div>
<div class="columns">
  <div class="column is-12">
    <br />
  </div>
</div>
